<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
      <div class="header-fields">
        <div class="flexrow">
          <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
          <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name"/></h1>
        </div>
        <div class="flexrow">
          <ul class="flex-group-center flex-compteurs">
            <li>
              <label class="ctn-vie">
                <a id="jet-vie">Vie</a>
                <a id="vie-moins">-</a>
                <input class="resource-content" type="text" name="data.sante.vie.value" value="{{data.sante.vie.value}}" data-dtype="Number"/>
                <span>/ {{data.sante.vie.max}}</span>
                <a id="vie-plus">+</a>
              </label>
            </li>
            <li>
              <label class="ctn-endu">
                <a id="jet-endurance">Endurance</a>                
                <a id="endurance-moins">-</a>
                <input class="resource-content" type="text" name="data.sante.endurance.value" value="{{data.sante.endurance.value}}" data-dtype="Number"/>
                <span>/ {{data.sante.endurance.max}}</span>
                <a id="endurance-plus">+</a>
              </label>
            </li>
            <li>
              <label class="appliquerFatigue ctn-fatigue tooltip">
                <span class="tooltiptext ttt-fatigue">{{{calc.fatigue.html}}}</span>
                Fatigue
                <a id="fatigue-moins">-</a>
                <input class="resource-content" id="fatigue-value" type="text" name="data.sante.fatigue.value" value="{{data.sante.fatigue.value}}" data-dtype="Number" />
                <span>/ {{data.sante.fatigue.max}}</span>
                <a id="fatigue-plus">+</a>
              </label>
            </li>
            <li>
              <label class="ctn-sonne">
                Sonné :
                <input class="resource-content data-sante-sonne" type="checkbox" {{#if data.sante.sonne.value}}checked{{/if}} />
              </label>
            </li>
            <li>
              <label class="ctn-reve">
                <span class="ptreve-actuel"><a>Rêve</a></span>
                <a id="ptreve-actuel-moins">-</a>
                <input class="resource-content" id="pointsreve-value" type="text" name="data.reve.reve.value" value="{{data.reve.reve.value}}" data-dtype="Number" />
                <span>/ {{data.reve.seuil.value}}</span>
                <a id="ptreve-actuel-plus">+</a>
              </label>
            </li>
          </ul>
          <div class="flex-group-center  flex-actions-bar">
            <div>
              <span class="encaisser-direct"><a title="Encaisser des dommages"><img class="button-img" src="icons/svg/bones.svg" alt="Encaisser des dommages"/></a></span>
              <span class="gm-only remise-a-neuf"><a title="Remise à neuf"><img class="button-img" src="icons/svg/regen.svg" alt="Remise à neuf"/></a></span>
              <span class="dormir-une-heure"><a title="Dormir une heure"><img class="button-img" src="icons/svg/sleep.svg" alt="Dormir une heure"/></a></span>
              <span class="dormir-chateau-dormant"><a title="Chateau Dormant"><img class="button-img" src="systems/foundryvtt-reve-de-dragon/icons/heures/hd12.svg" alt="Chateau Dormant"/></a></span>
              {{#if data.attributs.hautrevant.value}}
              <span class="monte-tmr"><a title="Montée dans les Terres M&eacute;dianes !" {{#if hautreve.isDemiReve}}disabled{{/if}}><img class="button-img" src="systems/foundryvtt-reve-de-dragon/styles/img/ui/icon-tmr-normal.svg" alt="Montée dans les Terres M&eacute;dianes !"/></a></span>
              <span class="monte-tmr-rapide"><a title="Montée accélérée dans les Terres M&eacute;dianes !"><img class="button-img" src="systems/foundryvtt-reve-de-dragon/styles/img/ui/icon-tmr-rapide.svg" alt="Montée accélérée dans les Terres M&eacute;dianes !"/></a></span>
              <span class="visu-tmr"><a title="Regarder les Terres M&eacute;dianes"><img class="button-img" src="systems/foundryvtt-reve-de-dragon/styles/img/ui/icon-tmr-view.svg" alt="Regarder les Terres M&eacute;dianes"/></a></span>
              {{/if}}
            </div>
            <div class="flexrow">
              <span class="appliquerFatigue tooltip tooltip-dotted">Malus de fatigue : {{calc.fatigue.malus}}
                <span class="tooltiptext ttt-fatigue">{{{calc.fatigue.html}}}</span>
              </span>
              <span>{{calc.resumeBlessures}}</span>
            </div>
            <div class="flexrow">
              <span>{{data.compteurs.etat.label}}: {{data.compteurs.etat.value}}</span>
              <span>{{data.compteurs.surenc.label}}: {{data.compteurs.surenc.value}}</span>
            </div>
            <div>
              {{#if calc.surprise}}{{calc.surprise}}! {{/if}}
              {{#if effects}}
              {{#each effects as |effect key|}}
              <span id="effect-{{effect.flags.core.status.statusId}} ">
                <img class="button-effect-img" src="{{effect.icon}}" alt="{{effect.label}}" width="24" height="24" />
              </span>
              {{/each}}
              {{#if options.isGM}}
              <span class="enlever-tous-effets"><a>(enlever tout)</a></span>
              {{/if}}
              {{else}}
                Aucun effet actif
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="carac">Carac.</a>
        <a class="item" data-tab="competences">Compétences</a>
        <a class="item" data-tab="combat">Combat</a>
        <a class="item" data-tab="connaissances">Savoirs&Taches</a>
        <a class="item" data-tab="hautreve">Haut-Rêve</a>
        <a class="item" data-tab="items">Équipement</a>
        <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Carac Tab --}}
        <div class="tab items" data-group="primary" data-tab="carac">
          <div class="flexrow">
              <span><a class="lock-unlock-sheet"><img class="small-button-container"
                                                      src="systems/foundryvtt-reve-de-dragon/icons/{{#if options.editCaracComp}}unlocked.svg{{else}}locked.svg{{/if}}" alt="blocker/débloquer"
              >{{#if options.editCaracComp}}Verrouiller{{else}}Déverrouiller{{/if}}</a></span>
          </div>
          <div class="grid grid-2col">
            <div class="flex-group-left flexcol">
              <ul class="carac-list alterne-list">
                {{#each data.carac as |carac key|}}
                    {{#if carac.isLevelUp}}
                    <li class="competence flexrow item-list xp-level-up" data-attribute="{{key}}">
                    {{else}}
                    <li class="competence flexrow list-item" data-attribute="{{key}}">
                    {{/if}}
                    {{#if (eq key 'taille')}}
                      <span class="carac-label" name="data.carac.{{key}}.label">{{carac.label}}</span>
                      <input class="carac-value" type="text" name="data.carac.{{key}}.value" value="{{carac.value}}" data-dtype="{{carac.type}}" {{#unless @root.options.editCaracComp}}disabled{{/unless}} />
                      <label class="carac-xp"/>
                    {{else}}
                        {{#if carac.derivee}}
                        <span class="carac-label" name="data.carac.{{key}}.label"> <a name={{key}}>{{carac.label}}</a></span>
                        <label class="competence-value">{{carac.value}}</label>
                        <label class="carac-xp"/>
                        {{else}}
                          {{#if carac.isLevelUp}}
                            <span class="carac-label tooltip" name="data.carac.{{key}}.label">
                              <span class="tooltiptext ttt-xp">
                              Vous pouvez dépenser {{carac.xpNext}} points d'Experience pour augmenter de 1 votre caractéristique {{carac.label}}
                            </span>
                            <a name={{key}}>{{carac.label}}</a></span>
                          {{else}}
                            <span class="carac-label tooltip" name="data.carac.{{key}}.label"><a name={{key}}>{{carac.label}}</a></span>
                          {{/if}}
                          <input class="carac-value" type="text" name="data.carac.{{key}}.value" value="{{carac.value}}" data-dtype="{{carac.type}}" {{#unless @root.options.editCaracComp}}disabled{{/unless}} />
                          <input class="carac-xp" type="text" name="data.carac.{{key}}.xp" value="{{carac.xp}}" data-dtype="number" {{#unless @root.options.editCaracComp}}disabled{{/unless}} />
                          {{#if carac.isLevelUp}}
                          <a class="item-control carac-xp-augmenter" name="augmenter.{{key}}" title="Augmenter">
                            <i class="fas fa-arrow-alt-circle-up"></i>
                          </a>
                          {{/if}}
                        {{/if}}
                    {{/if}}
                    </li>
                {{/each}}
                <li class="competence flexrow">
                  <span class="carac-label" name="carac-total">Total Caractéristiques </span>
                  <span class="competence-value total" name="carac-total-value">{{calc.caracTotal}} </span>
                </li>
              </ul>          
            </div>
            <div class="flex-group-left flexcol" >
              <ul class="carac-list">
                <li class="competence flexrow list-item">
                  <span class="carac-label" name="beaute">Beauté&nbsp;:</span>
                  <input class="description-value" type="text" name="data.beaute" value="{{data.beaute}}" data-dtype="String" {{#unless @root.options.editCaracComp}}disabled{{/unless}}/>
                  <label class="carac-xp"/>
                </li>
                {{#each data.attributs as |attr key|}}
                {{#unless (eq key 'hautrevant')}}
                <li class="competence flexrow  list-item" data-attribute="{{key}}">
                  <span class="carac-label" name="data.attributs.{{key}}.label">{{attr.label}}&nbsp;:</span>
                  {{#if (eq key 'protection')}}
                  <input class="description-value" id="attribut-protection-edit" type="text" name="{{key}}" value="{{attr.value}}" data-dtype="number"/>
                  {{else}}
                  <input class="description-value" type="text" disabled name="data.attributs.{{key}}." value="{{attr.value}}" data-dtype="number"/>
                  {{/if}}
                  <label class="carac-xp"/>
                </li>
                {{/unless}}
                {{/each}}
              </ul>
              <ul class="carac-list alterne-list">
                <li class="competence flexrow list-item">
                  <span class="attribut-label chance-actuelle"><a>Chance actuelle</a></span>
                  <input class="description-value compteur-edit" type="text" name="chance" value="{{data.compteurs.chance.value}}" data-dtype="number"/>
                  <span class="utiliser-attribut" style="padding-left: 5px"><a class="item-control chance-appel">Utiliser</a></span>
                </li>
                {{#each data.compteurs as |compteur key|}}
                  {{#if (eq compteur.label 'Chance')}}
                  {{else if (eq compteur.label 'Experience')}}
                  {{else if compteur.isInput}}
                    <li class="competence flexrow list-item">
                      <span class="attribut-label">{{compteur.label}}</span>
                      {{#if (eq compteur.label 'Ethylisme')}}
                      <select class="description-value" name="data.compteurs.ethylisme.value" id="ethylisme" data-dtype="Number">
                        {{#select compteur.value}}
                        {{>"systems/foundryvtt-reve-de-dragon/templates/niveau-ethylisme.html"}}
                        {{/select}}
                      </select>          
                      {{else}}
                      <input class="description-value compteur-edit" id="{{key}}-edit" type="text" name="{{key}}" value="{{compteur.value}}" data-dtype="number"/>
                      {{/if}}
                      <span class="utiliser-attribut" style="padding-left: 5px">
                        {{#if compteur.isStress}}
                        <a class="item-control stress-test" title="Transformer">Transformer</a>
                        {{else if (eq compteur.label 'Ethylisme')}}
                        <a class="item-control ethylisme-test" id="ethylisme-test" title="Jet d'Ethylisme">Boire</a>
                        {{else if (eq compteur.label 'Moral')}}
                        <a class="moral-malheureux" title="Jet de moral situation malheureuse"><img class="small-button-container" src="systems/foundryvtt-reve-de-dragon/icons/moral-malheureux.svg" alt="Jet de moral situation malheureuse"/></a>
                        <a class="moral-neutre" title="Jet de moral situation neutre"><img class="small-button-container" src="systems/foundryvtt-reve-de-dragon/icons/moral-neutre.svg" alt="Jet de moral situation neutre"/></a>
                        <a class="moral-heureux" title="Jet de moral situation heureuse"><img class="small-button-container" src="systems/foundryvtt-reve-de-dragon/icons/moral-heureux.svg" alt="Jet de moral situation heureuse"/></a>
                        {{else}}
                        <label></label>
                      {{/if}}
                      </span>
                    </li>
                  {{/if}}
                {{/each}}
              </ul>
<!--              <ul class="carac-list"></ul>-->
            </div>
          </div>
        </div>
        
        {{!-- Compétences Tab --}}
        <div class="tab competences" data-group="primary" data-tab="competences">
          <div class="flexrow">
            <span><a class="lock-unlock-sheet"><img class="small-button-container"
              src="systems/foundryvtt-reve-de-dragon/icons/{{#if options.editCaracComp}}unlocked.svg{{else}}locked.svg{{/if}}" alt="blocker/débloquer"
              >{{#if options.editCaracComp}}Verrouiller{{else}}Déverrouiller{{/if}}</a></span>
            <span><a id="show-hide-competences"><img class="small-button-container"
              src="systems/foundryvtt-reve-de-dragon/icons/{{#if options.showCompNiveauBase}}no-filter.svg{{else}}filter.svg{{/if}}" alt="filter/montrer tout"
              >{{#if options.showCompNiveauBase}}Montrer tout{{else}}Filtrer{{/if}}</a></span>
            <span><a id="show-hide-archetype"><img class="small-button-container"
              src="systems/foundryvtt-reve-de-dragon/icons/{{#if options.montrerArchetype}}no-filter.svg{{else}}filter.svg{{/if}}" alt="filter/montrer l'archétype"
              >{{#if options.montrerArchetype}}Masquer l'archétype{{else}}Voir l'archétype{{/if}}</a></span>
            <span><a class="lock-unlock-controls"><i class="fas fa-lock{{#if options.hideControls}}-open{{/if}}"></i>
              {{#if options.hideControls}}Contrôles On{{else}}Contrôles Off{{/if}}
            </a></span>
          </div>
          <div class="grid grid-2col">
            <div class="flex-group-left flexcol competence-column">
              {{> "systems/foundryvtt-reve-de-dragon/templates/actor-sheet-categorie-competences-partial.html" competences=(sortCompetence competenceByCategory.generale) categorie="Compétences générales"}}
              {{> "systems/foundryvtt-reve-de-dragon/templates/actor-sheet-categorie-competences-partial.html" competences=(sortCompetence competenceByCategory.particuliere) categorie="Compétences Particulières"}}
              {{> "systems/foundryvtt-reve-de-dragon/templates/actor-sheet-categorie-competences-partial.html" competences=(sortCompetence competenceByCategory.specialisee) categorie="Compétences Spécialisées"}}
            </div>

            <div class="flex-group-left flexcol competence-column">
              {{> "systems/foundryvtt-reve-de-dragon/templates/actor-sheet-categorie-competences-partial.html" competences=(sortCompetence competenceByCategory.melee) categorie="Compétences de Mêlée"}}
              {{> "systems/foundryvtt-reve-de-dragon/templates/actor-sheet-categorie-competences-partial.html" competences=(sortCompetence competenceByCategory.tir) categorie="Compétences de Tir"}}
              {{> "systems/foundryvtt-reve-de-dragon/templates/actor-sheet-categorie-competences-partial.html" competences=(sortCompetence competenceByCategory.lancer) categorie="Compétences de Lancer"}}
              {{> "systems/foundryvtt-reve-de-dragon/templates/actor-sheet-categorie-competences-partial.html" competences=(sortCompetence competenceByCategory.connaissance) categorie="Connaissances"}}
              {{#if (or data.attributs.hautrevant.value options.montrerArchetype)}}
              {{> "systems/foundryvtt-reve-de-dragon/templates/actor-sheet-categorie-competences-partial.html" competences=(sortCompetence competenceByCategory.draconic) categorie="Draconic"}}
              {{/if}}

              <div>
                <ul class="item-list">
                  <li class="item flexrow">
                    <span class="generic-label">Stress transformé</span>
                    <input class="compteur-edit" type="text" name="experience" value="{{data.compteurs.experience.value}}" data-dtype="number" size="3"/>
                  </li>

                  <li class="item flexrow">
                    <span class="generic-label">Total XP compétences</span>
                    <span class="competence-value">{{calc.competenceXPTotal}}</span>
                  </li>
                  {{#if options.montrerArchetype}}
                  {{#each calc.comptageArchetype as |archetype key|}}
                  <li class="item flexrow">
                    <label class="generic-label">Archetype {{archetype.niveau}} : {{archetype.nombre}} / {{archetype.nombreMax}}</label>
                  </li>
                  {{/each}}
                  {{/if}}
                </ul>
              </div>    
            </div>
          </div>
        </div>

        {{!-- Combat Tab --}}
        <div class="tab combat" data-group="primary" data-tab="combat">
          <h3 class="blessures-title">Armes et Défenses:</h3>
            <ul class="item-list alterne-list">
              <li class="competence-header flexrow">
                <span class="competence-title competence-label">Armes</span>
                <span class="competence-title competence-label">Initiative</span>
                <span class="competence-title competence-label">Comp.</span>
                <span class="competence-title competence-value">Niveau</span>
                <span class="competence-title competence-value">+dom</span>
              </li>
            {{#each combat as |arme key|}}
              <li class="item flexrow list-item" data-item-id="{{arme._id}}">
                  <span class="arme-label"><a data-competence-name="{{arme.data.competence}}">{{arme.name}}</a></span>
                  <span class="arme-initiative"><a data-arme-name="{{arme.name}}" data-competence-name="{{arme.data.competence}}">{{arme.data.initiative}}</a></span>
                  <span class="competence-label">{{arme.data.competence}}</span>
                  <span class="competence-value">{{numberFormat arme.data.niveau decimals=0 sign=true}}</span>
                  <span class="competence-value">{{numberFormat arme.data.dommages decimals=0 sign=true}}</span>
              </li>
            {{/each}}
            <li class="item flexrow list-item">
              <span class="competence-label"><a data-competence-name="{{esquive.name}}">{{esquive.name}}</a></span>
              <span class="arme-initiative"></span>
              <span class="competence-label"></span>
              <span class="competence-value">{{numberFormat esquive.niveau decimals=0 sign=true}}</span>
              <span class="competence-value"></span>
          </li>
        </ul>
        <hr>
        {{!-- Liste de blessures --}}
        {{> "systems/foundryvtt-reve-de-dragon/templates/actor-liste-blessures-partial.html" this}}
      </div>

      {{!-- Connaissances Tab --}}
      <div class="tab connaissances" data-group="primary" data-tab="connaissances">
        <h3>Tâches</h3><a class='creer-tache'>Créer une nouvelle Tâche</a>
        <ul class="item-list alterne-list">
          {{#each taches as |tache id|}}
          <li class="item flexrow list-item" data-item-id="{{tache._id}}"><span class="competence-title tache-label"><a>{{tache.name}} ({{tache.data.points_de_tache_courant}}/{{tache.data.points_de_tache}})</a></span>
            <div class="item-controls flex-shrink">
              <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
              <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
          </li>
          {{/each}}
        </ul>
        <hr>
        <h3>Oeuvres diverses :</h3><a class="creer-une-oeuvre">Créer une oeuvre</a>
        <ul class="item-list alterne-list">
          {{#each chants as |chant id|}}
          {{> "systems/foundryvtt-reve-de-dragon/templates/actor-sheet-oeuvre-partial.html" oeuvre=chant typeOeuvre="Chant" classOeuvre="chant-label"}}
          {{/each}}
          {{#each musiques as |musique id|}}
          {{> "systems/foundryvtt-reve-de-dragon/templates/actor-sheet-oeuvre-partial.html" oeuvre=musique typeOeuvre="Musique" classOeuvre="musique-label"}}
          {{/each}}
          {{#each danses as |danse id|}}
          {{> "systems/foundryvtt-reve-de-dragon/templates/actor-sheet-oeuvre-partial.html" oeuvre=danse typeOeuvre="Danse" classOeuvre="danse-label"}}
          {{/each}}
          {{#each oeuvres as |oeuvre id|}}
          {{> "systems/foundryvtt-reve-de-dragon/templates/actor-sheet-oeuvre-partial.html" oeuvre=oeuvre typeOeuvre=oeuvre.data.competence classOeuvre="oeuvre-label"}}
          {{/each}}
          {{#each recettescuisine as |recette id|}}
          {{> "systems/foundryvtt-reve-de-dragon/templates/actor-sheet-oeuvre-partial.html" oeuvre=recette typeOeuvre="Recette de cuisine" classOeuvre="recettecuisine-label"}}
          {{/each}}
        </ul>
        <h3>Jeux :</h3>
        <ul class="item-list alterne-list">
          {{#each jeux as |jeu id|}}
          <li class="item flexrow list-item" data-item-id="{{jeu._id}}"><span class="competence-title jeu-label"><a>{{jeu.name}} (base {{jeu.data.base}})</a></span>
            <div class="item-controls flex-shrink">
              <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
              <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
          </li>
          {{/each}}
        </ul>
        <h3>Recettes Alchimiques</h3>
        <ul class="item-list alterne-list">
          {{#each recettesAlchimiques as |recette id|}}
          <li class="item flexrow list-item" data-item-id="{{recette._id}}"><span class="competence-title recette-label item-edit"><a>{{recette.name}}</a></span>
            <div class="item-controls flex-shrink">
              <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
              <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
          </li>
          {{/each}}
        </ul>
        <hr>
        <h3>Astrologie</h3>
        <span class="astrologie-label"><a id="jet-astrologie">Astrologie : Nombres Astraux</a></span>
      </div>

      {{!-- hautreve Tab --}}
      <div class="tab hautreve " data-group="primary" data-tab="hautreve" style="height:200px">
        <div>
          {{#if data.attributs.hautrevant.value}}
          <h3>Haut rêvant</h3>
          {{else}}
          <h3>Vous n'avez pas le don de haut-rêve! Il faut attribuer la Tête de Dragon 'Don de Haut Rêve' si votre personnage est ou devient Haut-Rêvant.</h3>
          {{/if}}
          <ul class="item-list">
            {{#if data.attributs.hautrevant.value}}
            {{#if options.isGM}}
            <li class="item flexrow">
              <span>
                <a class="chat-card-button forcer-tmr-aleatoire">Ré-insertion aléatoire (ie TMR cachée)</a>
              </span>
              <span>
                <a class="chat-card-button afficher-tmr">Montrer les TMR</a>
              </span>
            </li>
            {{/if}}
            <li class="item flexrow">
              {{#if options.isGM}}
              <span class="competence-label flex-shrink">Demi rêve :
                <span>{{caseTmr-label data.reve.tmrpos.coord}}</span>
              </span> 
              <span>
                <input class="competence-value" type="text" name="data.reve.tmrpos.coord" value="{{data.reve.tmrpos.coord}}" data-dtype="String"/>
              </span> 
              
              {{else}}
              <span class="competence-label flex-shrink">Demi rêve :
                {{#unless hautreve.cacheTMR}}
                <span>{{caseTmr-label data.reve.tmrpos.coord}}</span>
                {{/unless}}
              </span> 
              <span>
                {{#if hautreve.cacheTMR}}
                ??
                {{else}}
                {{data.reve.tmrpos.coord}}
                {{/if}}
              </span>
              {{/if}}
            </li>
            {{/if}}
            <li class="item flexrow">
              <span class="competence-label">Seuil de Rêve :</span>
              <span>
              {{#if options.isGM}}
                <input class="seuil-reve-value" type="text" name="data.reve.seuil.value" value="{{data.reve.seuil.value}}" data-dtype="Number"/>
              {{else}}
                {{data.reve.seuil.value}}
              {{/if}}
              </span>
            </li>
            <li class="item flexrow" >
              <span class="competence-label">Refoulement : </span>
              <span>
              {{#if options.isGM}}
                <input class="competence-value" type="text" name="data.reve.refoulement.value" value="{{data.reve.refoulement.value}}" data-dtype="Number"/>
              {{else}}
                {{data.reve.refoulement.value}}
              {{/if}}
              </span>
            </li>
          </ul>
        </div>
        <hr>
        {{#if data.attributs.hautrevant.value}}
        {{#if options.isGM}}
        <h3>Signes draconiques</h3>
        <ul class="item-list alterne-list">
          {{#each signesdraconiques as |signe key|}}
          <li class="item list-item flexrow" data-item-id="{{signe._id}}" data-attribute="{{key}}">
            <span class="display-label flex-grow"> <a data-item-id="{{signe._id}}">{{signe.name}}</a></span> 
            <span class="flex-shrink">{{signe.data.difficulte}}</span>
            <div class="item-controls flex-shrink">
              <a class="item-control item-delete" title="Supprimer"><i class="fas fa-trash"></i></a>
            </div>
          </li>
          {{/each}}
        </ul>
        {{/if}}
        <h3>Sorts:</h3>
        <ul class="item-list alterne-list">
          {{#each sorts as |sort key|}}
          <li class="item list-item flexrow" data-item-id="{{sort._id}}" data-attribute="{{key}}">
            <span class="display-label flex-grow"> <a data-item-id="{{sort._id}}">{{sort.name}}</a></span> 
            <span>{{sort.data.draconic}} / {{sort.data.difficulte}}</span>
            <div class="item-controls flex-shrink">
              <a class="item-control item-delete" title="Supprimer"><i class="fas fa-trash"></i></a>
            </div>
          </li>
          {{/each}}
        </ul>
        
        <h3>Sorts en Réserve:</h3>
        <ul class="item-list alterne-list">
          {{#each hautreve.sortsReserve as |reserve key|}}
          <li class="item list-item flexrow" data-item-id="{{reserve._id}}" data-attribute="{{key}}">
            <img class="sheet-competence-img" src="{{reserve.sort.img}}" />
            <span class="display-label flex-grow">{{reserve.sort.name}}</span> 
            <span class="flex-shrink">r{{reserve.sort.data.ptreve_reel}}</span> 
            <span class="flex-shrink">{{reserve.coord}}</span> 
            <span>{{caseTmr-label reserve.coord}}</span> 
            <div class="item-controls flex-shrink">
              <a class="item-control item-delete flex-shrink" title="Supprimer"><i class="fas fa-trash"></i></a>
            </div>
          </li>
          {{/each}}
        </ul>
        
        <h3>Méditations:</h3>
        <ul class="item-list">
          {{#each meditations as |meditation key|}}
          <li class="item flexrow" data-item-id="{{meditation._id}}" data-attribute="{{key}}">
            <span class="meditation-label flex-grow"><a data-item-id="{{meditation._id}}">{{meditation.name}} - {{meditation.data.competence}}</a></span> 
            <div class="item-controls flex-shrink">
              <a class="item-control item-edit" title="Editer"><i class="fas fa-edit"></i></a>
              <a class="item-control item-delete" title="Supprimer"><i class="fas fa-trash"></i></a>
            </div>
          </li>
          {{/each}}
        </ul>
        <hr>
        {{/if}}
        {{!-- Queues, Souffles, Tetes, Ombre --}}
        <h3>Queues:</h3>
        <ul class="flex-group-left">
          {{#each queues as |queue key|}}
          <li class="item flexrow" data-attribute={{key}} data-item-id="{{queue._id}}">
            <span class="display-label flex-grow"><a data-item-id="{{queue._id}}">{{queue.name}}</a></span>
            <div class="item-controls flex-shrink">
              <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
          </li>
          {{/each}}
        </ul>
        <h3>Souffles:</h3>
        <ul class="item-list">
          {{#each souffles as |souffle key|}}
          <li class="item flexrow" data-attribute={{key}} data-item-id="{{souffle._id}}">
            <span class="display-label flex-grow"><a data-item-id="{{souffle._id}}">{{souffle.name}}</a></span>
            <div class="item-controls flex-shrink">
              <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
          </li>
          {{/each}}                 
        </ul>
        <h3>Tetes:</h3>
        <ul class="item-list">
          {{#each tetes as |tete key|}}
          <li class="item flexrow" data-attribute={{key}} data-item-id="{{tete._id}}">
            <span class="display-label flex-grow"><a data-item-id="{{tete._id}}">{{tete.name}}</a></span>
            <div class="item-controls flex-shrink">
              <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
          </li>
          {{/each}}
        </ul>
        <h3>Ombres de Thanatos:</h3>
        <ul class="item-list">
          {{#each ombres as |ombre key|}}
          <li class="item flexrow" data-attribute={{key}} data-item-id="{{ombre._id}}">
            <span class="display-label flex-grow"><a data-item-id="{{ombre._id}}">{{ombre.name}}</a></span>
            <div class="item-controls flex-shrink">
              <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
          </li>
          {{/each}}
        </ul>
        {{#if data.attributs.hautrevant.value}}
        <hr>
        <h3>Rencontres présentes:</h3>
        <ul class="item-list">
          {{#each hautreve.rencontres as |rencontre key|}}
          <li class="item flexrow" data-item-id="{{key}}" data-attribute="{{key}}">
            <span class="display-label"><a data-item-id="{{key}}">{{rencontre.name}} - {{rencontre.coord}}</a></span> 
            <span class="flex-shrink">{{caseTmr-label rencontre.coord}}</span> 
            {{#if rencontre.date}}
            <span>Le {{rencontre.date}} à {{rencontre.heure}}</span> 
            {{/if}}
            <div class="item-controls flex-shrink">
              <a class="item-control rencontre-delete" title="Supprimer"><i class="fas fa-trash"></i></a>
            </div>
          </li>
          {{/each}}
        </ul>
        <hr>
        <h3>Cases Spéciales:</h3>
        <ul class="item-list">
          {{#each hautreve.casesTmr as |casetmr key|}}
          <li class="item flexrow" data-item-id="{{casetmr._id}}" data-attribute="{{key}}">
            <span class="display-label"><a data-item-id="{{casetmr._id}}">{{casetmr.name}}</a></span> 
            <div class="item-controls flex-shrink">
              <a class="item-control item-delete" title="Supprimer"><i class="fas fa-trash"></i></a>
            </div>
          </li>
          {{/each}}
        </ul>
        <br><br>
        {{/if}}
      </div>

      {{!-- Equipment Tab --}}
      <div class="tab items" data-group="primary" data-tab="items">
        
        {{> "systems/foundryvtt-reve-de-dragon/templates/actor-sheet-inventaire-monnaie.html" monnaie=monnaie}}

        <span class="item-name"><h4>Equipement porté</h4></span>
        <div>
          <span class="item-name">Encombrement total/max : {{numberFormat calc.encTotal decimals=2}} / {{data.attributs.encombrement.value}} <b>{{calc.surEncombrementMessage}}</b></span> - 
          <span class="item-name">Estimation de l'équipement : {{numberFormat calc.prixTotalEquipement decimals=2}} Sols</span>
          </div>
        <div>
          <span class="item-name"><a class="creer-un-objet">Créer un objet</a></span>
          {{#if options.isGM}}
          <span class="item-name"> - <a id="nettoyer-conteneurs">Vider tout les conteneurs</a></span>
          {{/if}}
          </div>
      <ul class="item-list alterne-list">
        <li class="competence-header flexrow">
          <img class="sheet-competence-img" src="{{img}}" title="Equipement"/>
          <span class="competence-title flex-grow">Nom</span>
          <span class="competence-title">Q.</span>
          <span class="competence-title">Enc.</span>
          <span class="competence-title flex-grow">Equiper/Editer/Suppr.</span>
        </li>
        {{#each objets as |item id|}}
          {{#unless item.estContenu}}
          {{#if (ne item.type 'conteneur')}}
            {{> "systems/foundryvtt-reve-de-dragon/templates/actor-sheet-inventaire-conteneur.html" item=item }}
          {{/if}}
          {{/unless}}
        {{/each}}
        {{#each conteneurs as |conteneur id|}}
          {{buildConteneur this}}
        {{/each}}
        </ul>

        <span class="item-name"><h4>Montures</h4></span>
        <ul class="item-list alterne-list">
          {{#each subacteurs.montures as |monture id|}}
          <li class="item flexrow list-item" data-actor-id="{{monture.id}}">
            <img class="sheet-competence-img" src="{{monture.img}}" title="{{monture.name}}"/>
            <span class="competence-title subacteur-label"><a>{{monture.name}}</a></span>
            <div class="item-controls flex-shrink">
              <a class="item-control subacteur-delete" title="Supprimer"><i class="fas fa-trash"></i></a>
          </div>
          </li>
          {{/each}}
        </ul>
        
        <span class="item-name"><h4>Véhicules</h4></span>
        <ul class="item-list alterne-list">
          {{#each subacteurs.vehicules as |vehicule id|}}
          <li class="item flexrow list-item" data-actor-id="{{vehicule.id}}">
            <img class="sheet-competence-img" src="{{vehicule.img}}" title="{{vehicule.name}}"/>
            <span class="competence-title subacteur-label"><a>{{vehicule.name}}</a></span>
            <span class="competence-title">{{vehicule.categorie}}</span>
            <span class="competence-title">{{vehicule.structure}}</span>
            <div class="item-controls flex-shrink">
              <a class="item-control subacteur-delete" title="Supprimer"><i class="fas fa-trash"></i></a>
          </div>
          </li>
          {{/each}}
        </ul>

        <span class="item-name"><h4>Suivants</h4></span>
        <ul class="item-list alterne-list">
          {{#each subacteurs.suivants as |suivant id|}}
          <li class="item flexrow list-item" data-actor-id="{{suivant.id}}">
            <img class="sheet-competence-img" src="{{suivant.img}}" title="{{suivant.name}}"/>
            <span class="competence-title subacteur-label"><a>{{suivant.name}}</a></span>
            <div class="item-controls flex-shrink">
              <a class="item-control subacteur-delete" title="Supprimer"><i class="fas fa-trash"></i></a>
          </div>
          </li>
          {{/each}}
        </ul>

      </div>

      {{!-- Biography Tab --}}
      <div class="tab biography" data-group="primary" data-tab="description">        
        <article class="flexrow">
          <ul class="item-list alterne-list">
            <li class="item flexrow list-item">
              <label for="data.race">Race :</label>
              <input class="flex-grow" type="text" name="data.race" value="{{data.race}}" data-dtype="String"/>
            </li>
            <li class="item flexrow list-item">
              <label for="data.sexe">Sexe :</label>
              <input class="flex-grow" type="text" name="data.sexe" value="{{data.sexe}}" data-dtype="String"/>
            </li>
            <li class="item flexrow list-item">
              <label for="data.age">Age :</label>
              <input class="flex-grow" type="text" name="data.age" value="{{data.age}}" data-dtype="String"/>
            </li>
            <li class="item flexrow list-item">
              <label for="data.poids">Poids :</label>
              <input class="flex-grow" type="text" name="data.poids" value="{{data.poids}}" data-dtype="String"/>
            </li>
            <li class="item flexrow list-item">
              <label for="data.taille">Taille :</label>
              <input class="flex-grow" type="text" name="data.taille" value="{{data.taille}}" data-dtype="String"/>
            </li>
          </ul>
          <ul class="item-list alterne-list">
            <li class="item flexrow list-item">
              <label for="data.main">Main directrice :</label>
              <input type="text" name="data.main" value="{{data.main}}" data-dtype="String"/>
            </li>
            <li class="item flexrow list-item">
              <label for="data.heure">Heure de naissance :</label>
              <select type="text" name="data.heure" value="{{data.heure}}" data-dtype="String">
                {{#select data.heure}}
                {{>"systems/foundryvtt-reve-de-dragon/templates/heures-select-option.html"}}
                {{/select}}
              </select>
            </li>
            <li class="item flexrow list-item">
              <label>Beauté :</label>
              <input type="text" value="{{data.beaute}}" data-dtype="String" disabled/>
            </li>
            <li class="item flexrow list-item">
              <label for="data.cheveux">Cheveux :</label>
              <input class="flex-grow" type="text" name="data.cheveux" value="{{data.cheveux}}" data-dtype="String"/>
            </li>
            <li class="item flexrow list-item">
              <label for="data.yeux">Yeux :</label>
              <input class="flex-grow" type="text" name="data.yeux" value="{{data.yeux}}" data-dtype="String"/>
            </li>
          </ul>
        </article>

        <article class="flexcol">
          <h3>Biographie : </h3>
          <div class="form-group editor">
            {{editor content=data.biographie target="data.biographie" button=true owner=owner editable=editable}}
          </div>
          <h3>Notes : </h3>
          <div class="form-group editor">
            {{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
          </div>
          <h3>Journal d'Experience</h3>
          <div class="form-group editor">
            <ul class="item-list alterne-list">
              {{#each data.experiencelog as |xp key|}}
              <li class="item flexrow list-item">
                <label class="flex-shrink">{{xp.mode}} </label>
                <label class="flex-grow">{{xp.valeur}} {{xp.raison}} </label>
                <label class="flex-shrink">{{xp.daterdd}} </label>
                <label class="flex-shrink">{{xp.datereel}} </label>
              </li>
            {{/each}}
          </ul>
        </div>

          {{>"systems/foundryvtt-reve-de-dragon/templates/actor-sheet-editor-notes-mj.html"}}
        </article>
      </div>

    </section>
</form>

