<header class="competence-header flexrow">
  <span class="competence-title">{{categorie}}</span>
</header>
<ul class="item-list alterne-list competence-list">
  {{#each competences as |comp key|}}
  {{> "systems/foundryvtt-reve-de-dragon/templates/actor-sheet-competence-partial.html" comp}}
  {{/each}}
</ul>
