<span class="item-name"><h4>Argent et Monnaies</h4></span>
<ul class="item-list alterne-list">
  {{#each monnaie as |piece id|}}
  <li class="item flexrow list-item" data-item-id="{{piece._id}}">
    <img class="sheet-competence-img" src="{{piece.img}}" title="{{piece.name}}"/>
    <span class="competence-title competence-label">{{piece.name}}</span>
    <span class="competence-title competence-label">{{piece.data.quantite}}</span>
    <span class="competence-title"><a class="monnaie-plus">+</a><a class="monnaie-moins">-</a></span>
    <div class="item-controls flex-shrink">
      <a class="item-control item-edit" title="Editer"><i class="fas fa-edit"></i></a>
      <a class="item-control item-delete" title="Supprimer"><i class="fas fa-trash"></i></a>
  </div>
  </li>
  {{/each}}
</ul>
