<form class="{{cssClass}}" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
    <div class="header-fields">
      <div class="flexrow">
        <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name" /></h1>
      </div>
    </div>
</header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="carac">Caractéristiques</a>
    <a class="item" data-tab="items">Contenu</a>
    <a class="item" data-tab="description">Description</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Carac Tab --}}
    <div class="tab items" data-group="primary" data-tab="carac">
      <div class="grid grid-2col">
        <div class="flex-group-left flexcol">
          <ol class="carac-list alterne-list">
            <li class="competence flexrow list-item" data-attribute="{{key}}">
              <span class="carac-label flexrow" name="categorie">Catégorie</span>
              <select name="data.categorie" class="categorie" data-dtype="String">
                {{#select data.categorie}}
                {{>"systems/foundryvtt-reve-de-dragon/templates/enum-categorie-vehicule.html"}}
                {{/select}}
              </select>
            </li>
            <li class="competence flexrow list-item" data-attribute="{{key}}">
              <span class="carac-label flexrow" name="categorie">Résistance</span>
              <input class="competence-value flexrow" type="text" name="data.resistance" value="{{data.resistance}}" data-dtype="Number" />
            </li>
            <li class="competence flexrow list-item" data-attribute="{{key}}">
              <span class="carac-label flexrow" name="categorie">Structure</span>
              <input class="competence-value flexrow" type="text" name="data.structure" value="{{data.structure}}" data-dtype="Number" />
            </li>
            <li class="competence flexrow list-item" data-attribute="{{key}}">
              <span class="carac-label flexrow" name="categorie">Vitesse</span>
              <input class="competence-value flexrow" type="text" name="data.vitesse" value="{{data.vitesse}}" data-dtype="String" />
            </li>
            <li class="competence flexrow list-item" data-attribute="{{key}}">
              <span class="carac-label flexrow" name="categorie">Bonus</span>
              <input class="competence-value flexrow" type="text" name="data.bonus" value="{{data.bonus}}" data-dtype="String" />
            </li>
            <li class="competence flexrow list-item" data-attribute="{{key}}">
              <span class="carac-label flexrow" name="categorie">Manoeuvrabilité</span>
              <input class="competence-value flexrow" type="text" name="data.manoeuvrabilite" value="{{data.manoeuvrabilite}}" data-dtype="String" />
            </li>
            <li class="competence flexrow list-item" data-attribute="{{key}}">
              <span class="carac-label flexrow" name="categorie">Equipage</span>
              <input class="competence-value flexrow" type="text" name="data.equipage" value="{{data.equipage}}" data-dtype="Number" />
            </li>
            <li class="competence flexrow list-item" data-attribute="{{key}}">
              <span class="carac-label flexrow" name="categorie">Capacité d'Encombrement</span>
              <input class="competence-value flexrow" type="text" name="data.capacite_encombrement" value="{{data.capacite_encombrement}}" data-dtype="Number" />
            </li>
          </ol>
        </div>
      </div>
    </div>
    
    {{!-- Equipment Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">

      {{> "systems/foundryvtt-reve-de-dragon/templates/actor-sheet-inventaire-monnaie.html" monnaie=monnaie}}

      <span class="item-name"><h4>Equipement chargé</h4></span>

      <span class="item-name">Encombrement total/max : {{numberFormat calc.encTotal decimals=2}} / {{data.capacite_encombrement}} <b>{{calc.surEncombrementMessage}}</b></span> - 
      <span class="item-name"><a class="creer-un-objet">Créer un objet</a></span>
      {{#if options.isGM}}
      <span class="item-name"> - <a id="nettoyer-conteneurs">Vider tout les conteneurs</a></span>
      {{/if}}
      <ul class="item-list alterne-list">
        <li class="competence-header flexrow">
          <img class="sheet-competence-img" src="{{img}}" title="Equipement"/>
          <span class="competence-title competence-label flex-grow">Nom</span>
          <span class="competence-title competence-label">Q.</span>
          <span class="competence-title competence-value">Enc.</span>
          <span class="competence-title competence-value">Equiper/Editer/Suppr.</span>
        </li>
        {{#each objets as |item id|}}
          {{#unless item.estContenu}}
          {{#if (ne item.type 'conteneur')}}
          <li class="item flexrow list-item" data-item-id="{{item._id}}">
              <img class="sheet-competence-img" src="{{item.img}}" title="{{item.name}}"/>
              <span class="item-name flex-grow">{{item.name}}</span>
              <span class="item-quantite">{{item.data.quantite}}</span>
              <span class="item-quantite">{{numberFormat item.data.encTotal decimals=2}}</span>
              <div class="item-controls">
                  <a class="item-control item-equip" title="Equiper">{{#if item.data.equipe}}<i class="fas fa-circle"></i>{{else}}<i class="fas fa-genderless"></i>{{/if}}</a>
                  <a class="item-control item-edit" title="Editer"><i class="fas fa-edit"></i></a>
                  <a class="item-control item-delete" title="Supprimer"><i class="fas fa-trash"></i></a>
              </div>
          </li>
          {{/if}}
          {{/unless}}
          {{/each}}
          {{#each conteneurs as |conteneur id|}}
          {{buildConteneur this}}
          {{/each}}
        </ul>
      </div>

      
    {{!-- Biography Tab --}}
    <div class="tab description" data-group="primary" data-tab="description">
      <div class="form-group editor">
        {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
      </div>
      {{>"systems/foundryvtt-reve-de-dragon/templates/actor-sheet-editor-notes-mj.html"}}
    </div>
    
    </div>

  </section>
</form>