<li class="item flexrow list-item" data-item-id="{{oeuvre._id}}">
  <span>{{upperFirst typeOeuvre}}</span>
  <span class="competence-title {{classOeuvre}}">
    <a>{{oeuvre.name}} (niveau {{oeuvre.data.niveau}})</a>
  </span>
  <div class="item-controls">
    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
  </div>
</li>

