{{#if visible}}
  <li class="item flexrow list-item {{#if data.isLevelUp}}xp-level-up tooltip{{/if}}" data-item-id="{{_id}}">
    <a class="competence-label" name="{{name}}">
      <img class="sheet-competence-img" src="{{img}}"/>
      <span class="competence-label">{{name}}</span>
    </a>
    {{#if data.isLevelUp}}
    <span class="tooltiptext ttt-xp">Vous pouvez dépenser {{data.xpNext}} points d'Experience pour augmenter de 1 votre compétence {{name}}</span>
    <a class="item-control competence-xp-augmenter" compname="{{name}}" title="Augmenter">
      <i class="fas fa-arrow-alt-circle-up"></i>
    </a>
    {{/if}}
    <input class="competence-value" type="text" compname="{{name}}" name="comp-value-{{name}}"
          value="{{numberFormat data.niveau decimals=0 sign=true}}" data-dtype="number"
          {{#unless @root.options.editCaracComp}}disabled{{/unless}} />
    <input class="competence-xp" type="text" compname="{{name}}" name="comp-xp-{{name}}"
          value="{{numberFormat data.xp decimals=0 sign=false}}" data-dtype="number"
          {{#unless @root.options.editCaracComp}}disabled{{/unless}} />
    {{#if (eq data.categorie 'draconic')}}
    <input class="competence-xp-sort" type="text" compname="{{name}}" name="comp-xp-sort-{{name}}"
          value="{{numberFormat data.xp_sort decimals=0 sign=false}}" data-dtype="number"
          {{#unless @root.options.editCaracComp}}disabled{{/unless}}/>
    {{/if}}
    {{#if @root.options.montrerArchetype}}
    <input class="competence-archetype" type="text" compname="{{name}}" name="comp-archetype-{{name}}"
          value="{{numberFormat data.niveau_archetype decimals=0 sign=true}}" data-dtype="number"
          {{#unless @root.options.editCaracComp}}disabled{{/unless}} />
    {{/if}}
    {{#unless @root.options.hideControls}}
    <div class="item-controls">
      <a class="item-control item-edit" title="Modifier"><i class="fas fa-edit"></i></a>
      <a class="item-control item-delete" title="Supprimer"><i class="fas fa-trash"></i></a>
    </div>
  {{/unless}}
  </li>
{{/if}}