<li class="item flexrow list-item" data-item-id="{{item._id}}">
  <img class="sheet-competence-img" src="{{item.img}}" title="{{item.name}}"/>

  {{#if (eq item.type 'conteneur')}}
  <span class="item-name conteneur-name flex-grow"><a data-item-id="{{item._id}}">+{{item.name}}</a></span>
  {{else}}
  <span class="item-name flex-grow">{{item.name}}</span>
  {{/if}}
  <span class="item-quantite">{{item.data.quantite}}
    {{#if (gt item.data.quantite 1)}}
    <a class="item-control item-split" title="Séparer"><i class="fas fa-unlink"></i></a>
    {{/if}}
  </span>
  <span class="item-quantite">{{numberFormat item.data.encTotal decimals=2}}</span>
  <div class="item-controls flex-grow">
    {{#unless item.estContenu}}
    {{#if (ne item.type 'conteneur')}}
    <a class="item-control item-equip" title="Equiper">{{#if item.data.equipe}}<i class="fas fa-hand-rock"></i>{{else}}<i class="far fa-hand-paper"></i>{{/if}}</a>
    {{/if}}
    {{/unless}}
    <a class="item-control item-edit" title="Editer"><i class="fas fa-edit"></i></a>
    <a class="item-control item-delete" title="Supprimer"><i class="fas fa-trash"></i></a>
    {{#if (or (eq item.type 'arme') (eq item.type 'conteneur') item.data.quantite)}}
    &nbsp;
    <a class="item-control item-vendre" title="Vendre ou donner"><i class="fas fa-comments-dollar"></i></a>
    {{/if}}
    {{#if item.data.actionPrincipale}}
    <a class="item-name item-action">{{item.data.actionPrincipale}}</a>
    {{/if}}
  </div>
</li>
