<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
      <div class="header-fields">
          <h1 class="charname">Edition du Calendrier</h1>
      </div>
  </header>
  
  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="form-group">
      <label for="mois">Mois</label>
      <select name="nomMois" id="nomMois" data-dtype="String">
        {{#select nomMois}}
        {{>"systems/foundryvtt-reve-de-dragon/templates/heures-select-option.html"}}
        {{/select}}
      </select>
    </div>
    <div class="form-group">
      <label for="jour">Jour du mois </label>
      <select name="jourMois" id="jourMois" data-dtype="String">
        {{#select jourMois}}
        {{#each jourMoisOptions as |key|}}
        <option value={{key}}>{{numberFormat key decimals=0}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>
    <div class="form-group">
      <label for="heure">Heure Draconique</label>
      <select name="nomHeure" id="nomHeure" data-dtype="String">
        {{#select nomHeure}}
        {{>"systems/foundryvtt-reve-de-dragon/templates/heures-select-option.html"}}
        {{/select}}
      </select>
    </div>
    <div class="form-group">
      <label for="xp">Minutes</label>
      <select name="minutesRelative" id="minutesRelative" data-dtype="String">
        {{#select minutesRelative}}
        {{#each minutesOptions as |key|}}
        <option value={{key}}>{{numberFormat key decimals=0}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>
  </section>
  
</form>
