<div class="post-item" data-transfer="{{transfer}}">
  <h3>{{#if alias}}{{alias}} propose: {{else}}Acheter {{/if}}{{item.name}}</h3>
  {{#if item.img}}
  <img src="{{item.img}}" title="{{item.name}}" />
  {{/if}}
  <p class="card-content">{{{item.data.description}}}</p>
  <p>
    {{#each properties as |property p|}}
    <span>{{{property}}}</span><br>
    {{/each}}
  </p>
  <hr>
  <p>
    {{#unless quantiteIllimite}}
    <span>Lots disponibles: <span class="quantiteNbLots">{{quantiteNbLots}}</span></span><br>
    {{/unless}}
    {{#if (gt tailleLot 1)}}
    <span>Lots de: <span class="tailleLot">{{tailleLot}}</span></span><br>
    {{/if}}
    {{#if (ne prixLot 0)}}
    <span><strong>Prix {{#if (gt tailleLot 1)}}du lot {{else}}unitaire{{/if}}:
      <span class="prixLot">{{prixLot}}</span> Sols</strong></span><br>
    {{/if}}
  </p>

  <span class="chat-card-button-area">
      <a class="button-acheter chat-card-button"
        data-jsondata='{{jsondata}}'
        {{#if vendeurId}}data-vendeurId='{{vendeurId}}'{{/if}}
        data-tailleLot="{{tailleLot}}"
        data-quantiteNbLots="{{quantiteNbLots}}"
        data-quantiteIllimite="{{#if quantiteIllimite}}true{{else}}false{{/if}}"
        data-prixLot="{{prixLot}}">
        {{#if (eq prixLot 0)}}Prendre{{else}}Acheter{{/if}}</a>
  </span>
</div>
