<img class="chat-icon" src="systems/foundryvtt-reve-de-dragon/icons/competence_botanique.png" alt="potion de soin" />
<h4>
  {{#if reussiteReve}}
  {{alias}} a bu la potion et a échoué son Jet de Résistance (Rêve actuel à -8) : la potion fait effet !
  {{else}}
  {{alias}} a bu la potion et a réussi son Jet de Résistance (Rêve actuel à -8) : la potion ne fait pas effet !
  {{/if}}
</h4>
<hr>
<div>
  {{#if reussiteReve}}
  {{alias}} perd 1 point de rêve (déduit automatiquement) et s'endort pour {{guerisonMinutes}} minutes. A son réveil, les blessures suivantes seront guéries : 
  <ul>
    {{#each guerisonData.list as |guerison key|}}
    <li>{{guerison}}</li>
    {{/each}}
  </ul>
  <br>
  {{/if}}
  La potion a également été supprimée de l'équipement.
</div>
