<img class="chat-icon" src="systems/foundryvtt-reve-de-dragon/icons/competence_botanique.png" alt="potion de repos" />
<h4>
  {{#if reussiteReve}}
  {{alias}} a bu la potion et a échoué son Jet de Résistance (Rêve actuel à -8) : la potion fait effet !
  {{else}}
  {{alias}} a bu la potion et a réussi son Jet de Résistance (Rêve actuel à -8) : la potion ne fait pas effet !
  {{/if}}
</h4>
<hr>
<div>
  {{#if reussiteReve}}
  {{alias}} perd 1 point de rêve (déduit automatiquement) et s'endort pour {{guerisonDureeValue}} {{guerisonDureeUnite}} et
  se repose de {{caseFatigueReel}} cases de fatigue.<br>
    {{#if data.reposalchimique}}
    De plus, étant donné que la potion était alchimique, {{alias}} est en aphasie pendant cette durée.
      {{#if aphasiePermanente}}
      Et malheureusement, l'aphasie est permanente tant que {{alias}} ne réussit pas un jet de VOLONTE à 0 à Chateau Dormant (le moral compte).
      {{/if}}
    {{/if}}
  {{/if}}
  La potion a également été supprimée de l'équipement.
</div>
