<img class="chat-icon" src="systems/foundryvtt-reve-de-dragon/icons/competence_botanique.png" alt="potion de repos" />
<h4>
  {{alias}} consomme sa <b>Potion de Repos {{#if data.magique}}enchantée{{/if}}</b> de {{name}} ({{data.herbe}}, {{data.herbebrins}} brins).
</h4>
<hr>
<div>
  {{#if data.magique}}
  Elle permet de récupérer jusqu'à {{data.puissance}} cases de repos.
  {{else}}
  Une fois consommée vers fin Lyre, elle vous octroie un bonus de {{data.herbebonus}} segments de fatigue récupérés en plus à la fin de Chateau Dormant (à gérer manuellement).
  <br>La potion a également été supprimée de l'équipement.
  {{/if}}
</div>
