<img class="chat-icon" src="systems/foundryvtt-reve-de-dragon/icons/competence_botanique.png" alt="potion de soin" />
<h4>
  {{alias}} consomme sa <b>Potion de soins {{#if data.magique}}enchantée{{/if}}</b> de {{name}} ({{data.herbe}}, {{data.herbebrins}} brins).
</h4>
<hr>
<div>
  {{#if data.magique}}
  Elle permet de guérir {{data.puissance}} Points de Guérison.
  {{else}}
  Lors de votre prochain jet de récupération à Chateau Dormant, vous bénéficierez d'un bonus de {{data.herbebonus}} (appliqué automatiquement).
  <br>La potion a également été supprimée de l'équipement.
  {{/if}}
</div>
