<img class="chat-icon" src="{{competence.img}}" alt="{{oeuvre.data.competence}}" />
<h4>
  {{alias}} tente de cuisiner la recette : {{oeuvre.name}} (niveau {{oeuvre.data.niveau}})
</h4>
{{> "systems/foundryvtt-reve-de-dragon/templates/chat-infojet.html"}}
<hr>
<span>
  <img class="chat-icon" src="{{platCuisine.img}}" alt="{{platCuisine.name}}" />
  <br>{{alias}} a préparé {{platCuisine.data.quantite}} portions de {{platCuisine.name}}
  {{~#if ajouterEquipement}}, qui ont été ajoutées à son équipement{{/if}}.
  {{#if rolled.isSuccess}}
  Il a réussi la recette, pour un plat de qualité {{qualiteFinale}}
  {{~#if (lt exotismeFinal 0)}} et d'exotisme {{exotismeFinal}}{{/if}}.
  {{else}}
  {{alias}} fait un piètre cuisinier, et il obtient un plat{{#if (lt exotismeFinal 0)}} à l'exotisme certain ({{exotismeFinal}}){{/if}} de qualité {{qualiteFinale}}.
  {{/if}}
  Pensez à faire goûter ses compagnons!
  {{#if (lt exotismeFinal 0)}}
  <br>Au vu de l'exotisme du plat, les convives devront réussir un jet de Volonté / Cuisine à {{exotismeFinal}}.
  En cas d'échec, ils peuvent se forcer à faire plaisir à {{alias}}, mais devront faire un jet de moral Malheureux.
  {{/if}}
</span>
{{> "systems/foundryvtt-reve-de-dragon/templates/chat-info-appel-au-moral.html"}}
{{> "systems/foundryvtt-reve-de-dragon/templates/chat-poesie.html" oeuvre.data}}
