<h4><img class="chat-icon" src="systems/foundryvtt-reve-de-dragon/icons/tmr/signe_draconique.webp" alt="Signe draconique" />
  {{alias}} peut lire un signe draconique
</h4>
<p>{{alias}} vient de trouver une terre de résonance en {{typeTMR}}, ou il peut lire un signe draconique.</p>
