<h4><img class="chat-icon" src="{{signe.img}}" alt="{{signe.name}}" />
  {{alias}} perçoit {{signe.name}}
</h4>
<p>Pour le lire ce signe draconique, {{alias}} doit se rendre dans les
  Terres Médianes du Rêve et trouvez une case de résonnance.
  {{#if signe.data.ephemere}}C'est un signe éphémère, qui ne restera présent que pour {{signe.data.duree}}{{/if}}
</p>
