<form class="rdddialog">
  <div>
    {{#if vendeur}}
    <img class="chat-icon" src="{{vendeur.img}}" title="{{vendeur.name}}" alt="{{vendeur.name}}" />
    {{/if}}
    <img class="chat-icon" src="{{item.img}}" title="{{item.name}}" alt="{{item.name}}" />
    {{!--
    {{#if acheteur}}
    <img class="chat-icon" src="{{acheteur.img}}" title="{{acheteur.name}}" alt="{{acheteur.name}}" />
    {{/if}}
    --}}
    <h4>
      {{#if isVente}}Acheter{{else}}Prendre{{/if}}
      {{#if vendeur}}à {{vendeur.name}} {{/if}}:
      {{item.name}}</h4>
  </div>

  <div class="flexrow flex-group-left">
    <label>{{#if (gt tailleLot 1)}}Lots disponibles
      {{else}}Quantité disponible{{/if}}</label>
    <label>{{#if quantiteIllimite}}
      pas de limite
      {{else}}
      {{quantiteNbLots}}
      {{/if}}</label>
  </div>
  <div class="flexrow flex-group-left">
    <label>
      {{#if (gt tailleLot 1)}}Nombre de lots de {{tailleLot}}
      {{else}}Quantité{{/if}}
    </label>
    <div class="flexrow">
      <input name="nombreLots" class="nombreLots flex-shrink" type="number" min="1" max="{{quantiteNbLots}}"
        value="{{nombreLots}}" data-dtype="Number" />
    </div>
  </div>
  {{#if isVente}}
  <div class="flexrow flex-group-left">
    <label>Prix {{#if (gt tailleLot 1)}}du lot{{else}}unitaire{{/if}}</label>
    <label>{{prixLot}} Sols</label>
  </div>
  <div class="flexrow flex-group-left">
    <label>Prix total</label>
    <span class="flexrow">
      <span class="prixTotal">{{prixTotal}}</span>
      <span>Sols</span>
    </span>
  </div>
  {{/if}}
  </div>
</form>