<form class="skill-roll-dialog">
  <div class="form-group">
    <label>Fabriquer une potion de {{data.categorie}} de {{name}}</label>
  </div>

  <div class="form-group">
    <label>Nombre de brins</label>
    <select name="nbBrins" id="nbBrins" data-dtype="number">
      {{#select nbBrins}}
      {{{nbBrinsSelect}}}
      {{/select}}
    </select>
  </div>

</form>
  
  