<form class="rdddialog">
  <h2>Fabrication: {{recette.name}}</h2>
  <div class="grid grid-2col">
    <div class="flex-group-left">
      <img class="chat-icon" src="{{competence.img}}" alt="{{competence.name}}"/>
      <div class="grid grid-2col">
        <label>{{alchimie.tache}}:</label><label class="flex-grow">{{alchimie.texte}}</label>
        <label>Caractéristique: </label><label class="flex-grow">{{selectedCarac.label}}</label>
        <label>{{competence.name}}:</label><label class="flex-grow">{{numberFormat competence.data.niveau decimals=0 sign=true}}</label></label>
      </div>
    </div>
    <div class="flex-group-left">
      <div class="flexrow">
        <label>Difficulté</label>
        <label>{{numberFormat diffLibre decimals=0 sign=true}}</label>
      </div>
      {{>"systems/foundryvtt-reve-de-dragon/templates/partial-roll-diffCondition.html"}}
      {{#if alchimie.sansCristal}}
      <div class="flexrow">
        <label></label>
        <label>(-4 sans Cristal Alchimique)</label>
      </div>
      {{/if}}
      {{>"systems/foundryvtt-reve-de-dragon/templates/partial-roll-moral.html"}}
      <div id="tableAjustements" class="flexrow"></div>
    </div>
  </div>

  <div id="tableResolution"></div>
  <div id="tableProbaReussite"></div>
</form>

<script>
</script>