<form class="rdddialog">
  <img class="chat-icon" src="{{item.img}}" title="{{item.name}}" alt="{{item.name}}" />
  <h4>{{item.name}}</h4>
  <div class="flexrow">
    <label class="flex-grow">Quantité à {{#if item.data.boisson}}boire{{else}}manger{{/if}}</label>
    <input class="attribute-value consommer-doses flex-shrink" type="number" name="doses" value="{{choix.doses}}"
      min="0" max="{{item.data.quantite}}" data-dtype="Number" />
  </div>
  {{#if item.data.sust}}
  <p>Cette {{#if item.data.boisson}}boisson{{else}}nourriture{{/if}} vous apportera <span
      class="total-sust">{{totalSust}}</span> de sustantation.</p>
  {{/if}}
  {{#if item.data.boisson}}
  <p>{{#if item.data.alcoolise}}
    C'est une boisson alcoolisée de force {{item.data.force}}, vous effectuerez un jet d'éthylisme.
    {{/if}}
    Cette boisson vous apportera <span class="total-desaltere">{{totalDesaltere}}</span> unités d'eau.
  </p>
  {{/if}}
  {{#if (gt item.data.qualite 0)}}
  {{#if (gt item.data.qualite cuisine.data.niveau)}}
  <p>La qualité du plat est telle qu'un jet de Goût/Cuisine à {{numberFormat item.data.qualite decimals=0 sign=true}}
    vous permettra un jet de moral heureux.</p>
  {{/if}}
  {{/if}}

  {{#if (or (lt item.data.qualite 0) (lt item.data.exotisme 0))}}
  <p>
    Pour surmonter {{#if (lt item.data.qualite 0)}}le mauvais goût{{else}}l'exotisme{{/if}}, vous devez effectuer un jet de Volonté/Cuisine à {{numberFormat (min item.data.exotisme item.data.qualite) decimals=0 sign=true}}.
  <br/>
    <input class="attribute-value se-forcer" type="checkbox" name="se-forcer" {{#if choix.seForcer}}checked{{/if}}>
      <label for="se-forcer">En cas d'échec, voulez-vous vous forcer à manger (et subir un jet de moral en situation malheureuse)?</label>
    </input>
  </p>
  {{/if}}

</form>