<form class="dialog-roll-danse">
  <h2>Danser: {{oeuvre.name}}</h2>

  <div class="grid grid-2col">
    <div class="flex-group-left">
      <img class="chat-icon" src="{{competence.img}}" alt="{{competence.name}}" />
      <div class="grid grid-2col">
        <label for="carac">Caractéristique:</label>{{>"systems/foundryvtt-reve-de-dragon/templates/partial-select-carac.html"}}
        <label>{{competence.name}}:</label><label class="flex-grow">{{numberFormat competence.data.niveau decimals=0 sign=true}}</label></label>
      </div>
      {{> "systems/foundryvtt-reve-de-dragon/templates/partial-description-overflow.html" oeuvre.data}}
    </div>
    <div class="flex-group-left">
      <div class="flexrow">
        <label>Difficulté</label>
        <label>{{numberFormat diffLibre decimals=0 sign=true}}</label>
      </div>
      {{>"systems/foundryvtt-reve-de-dragon/templates/partial-roll-diffCondition.html"}}
      {{>"systems/foundryvtt-reve-de-dragon/templates/partial-roll-moral.html"}}
      <div id="tableAjustements" class="flexrow"></div>
    </div>
  </div>

  <div id="tableResolution"></div>
  <div id="tableProbaReussite"></div>
</form>

<script>
</script>