<form class="skill-roll-dialog">
  <h2 class="dialog-roll-title"></h2>

  <div class="grid grid-2col">
    <div class="flex-group-left">
      <div class="flexrow">
      </div>
      {{>"systems/foundryvtt-reve-de-dragon/templates/partial-roll-surenc.html"}}
    </div>
    <div class="flex-group-left">
      {{>"systems/foundryvtt-reve-de-dragon/templates/partial-roll-diffLibre.html"}}
      {{>"systems/foundryvtt-reve-de-dragon/templates/partial-roll-diffCondition.html"}}
      {{>"systems/foundryvtt-reve-de-dragon/templates/partial-roll-moral.html"}}
      <div id="tableAjustements" class="flexrow"></div>
    </div>
  </div>  
  
  <div id="tableResolution"></div>
  <div id="tableProbaReussite"></div>
</form>

<script>
</script>