<form class="skill-roll-dialog">
  <div>
    <h4>Paramétrer le signe draconique
      <span class="chat-card-button-area">
        <a class="signe-aleatoire chat-card-button">Signe aléatoire</a>
      </span>
      <br><input type="text" name="signe.name" value="{{signe.name}}" data-dtype="String" />
    </h4>
  </div>
  <div class="form-group">
    <label for="signe.data.difficulte">Difficulte</label>
    <input type="number" name="signe.data.difficulte" value="{{signe.data.difficulte}}" data-dtype="Number" />
  </div>
  <div class="form-group">
    <label for="signe.data.valeur.norm">Expérience en sorts</label>
    <div class="flexrow">
      <input class="signe-xp-sort" type="number" name="signe.data.valeur.norm" data-typereussite="norm"
        value="{{signe.data.valeur.norm}}" min="1" max="100" data-dtype="Number" />
      <span>Sign.</span>
      <input class="signe-xp-sort" type="number" name="signe.data.valeur.sign" data-typereussite="sign"
        value="{{signe.data.valeur.sign}}" min="1" max="100" data-dtype="Number" />
      <span>Part.</span>
      <input class="signe-xp-sort" type="number" name="signe.data.valeur.part" data-typereussite="part"
        value="{{signe.data.valeur.part}}" min="1" max="100" data-dtype="Number" />
    </div>
  </div>
  <div class="form-group flexrow">
      <label for="signe.data.ephemere">Ephémère</label>
      <input class="flex-shrink" type="checkbox" name="signe.data.ephemere" {{#if signe.data.ephemere}}checked{{/if}} />
      <span>
        <input type="text" name="signe.data.duree" value="{{signe.data.duree}}" data-dtype="String" />
      </span>
  </div>
  <div class="form-group">
    <label for="tmrs">Terres médianes</label>
    <select class="select-tmr" name="tmrs" id="tmrs" size="{{tmrs.length}}" multiple>
      {{#each tmrs as |tmr key|}}
      <option value="{{tmr.name}}" {{#if tmr.selected}}selected{{/if}}>{{tmr.name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="form-group">
    <label for="actors">Haut-rêvants concernés</label>
    <select class="select-actor" id="actors" size="7" multiple>
      {{#each actors as |actor key|}}
      <option value="{{actor.name}}" data-actor-id="{{actor._id}}" {{#if actor.selected}}selected{{/if}}>{{actor.name}}</option>
      {{/each}}
    </select>
  </div>


</form>