<form class="rdddialog">
  <h2>Jouer à : {{oeuvre.name}}</h2>

  <div class="grid grid-2col">
    <div class="flex-group-left">
      <img class="chat-icon" src="{{competence.img}}" alt="{{competence.name}}"/>
      <div class="grid grid-2col">
        <label>Type:</label><label class="flex-grow">{{oeuvre.data.type}}</label>
        <label for="carac">Caractéristique:</label>{{>"systems/foundryvtt-reve-de-dragon/templates/partial-select-carac.html"}}
        <label>{{competence.name}}:</label><label class="flex-grow">{{numberFormat competence.data.niveauReel decimals=0 sign=true}}</label></label>
        <label>Niveau de base:</label><label class="flex-grow">{{oeuvre.data.base}}</label>
      </div>
    </div>
    <div class="flex-group-left">
      {{>"systems/foundryvtt-reve-de-dragon/templates/partial-roll-diffLibre.html"}}
      {{>"systems/foundryvtt-reve-de-dragon/templates/partial-roll-diffCondition.html"}}
      {{>"systems/foundryvtt-reve-de-dragon/templates/partial-roll-moral.html"}}
      <div id="tableAjustements" class="flexrow"></div>
    </div>
  </div>
  {{> "systems/foundryvtt-reve-de-dragon/templates/partial-description-overflow.html" oeuvre.data}}

  <div id="tableResolution"></div>
  <div id="tableProbaReussite"></div>
</form>

<script>
</script>