<option value="Bateau">Bateau</option>
<option value="Barque"> Barque</option>
<option value="Chariot">Charette/Chariot</option>
<option value="Carosse">Carosse</option>
<option value="Cariole à Bras">Cariole à Bras</option>
<option value="Maison">Maison</option>
<option value="Autre">Autre</option>
