<option value=""></option>
<option value="Alchimie">Potion d'Alchimie</option>
<option value="AlchimieEnchante">Potion d'Alchimie Enchantée</option>
<option value="Cuisine">Potion de Cuisine</option>
<option value="Repos">Potion de Repos</option>
<option value="ReposEnchante">Potion de Repos Enchantée</option>
<option value="Soin">Potion de Soin</option>
<option value="SoinEnchante">Potion de Soin Enchantée</option>
<option value="Autre">Potion Autre</option>
<option value="AutreEnchante">Potion Autre Enchantée</option>
