<div class="control-icon rdd-initiative ">
  <img class="rdd-hud-togglebutton" src="icons/svg/sword.svg" width="36" height="36" title="Initiative" />
  <div class="rdd-hud-list tokenhudext right">
    {{#each armes as |arme key|}}
    <div class="control-icon tokenhudicon rdd-hud-menu" data-command="{{arme.command}}" data-combatant-id="{{../combatant.id}}" data-arme-id="{{arme.index}}" title="{{arme.name}}">
      <label>I:{{arme.name}} {{arme.data.mainInfo}}</label>
    </div>
    {{/each}}
    {{#each commandes as |commande key|}}
    <div class="control-icon tokenhudicon rdd-hud-menu" data-command="{{commande.command}}" data-combatant-id="{{../combatant.id}}" data-arme-id="{{commande.index}}" title="{{commande.name}}">
      <label>I:{{commande.name}}</label>
    </div>
    {{/each}}    
  </div>
</div>
