<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name"/></h1>
        </div>
    </header>
    
    {{!-- Sheet Body --}}
    <section class="sheet-body">
      <div class="form-group">
        <label class="alchimie-title" for="xp">But</label>
        <input class="attribute-value" type="text" name="data.but" value="{{data.but}}" data-dtype="String"/>
      </div>
      <div class="flexcol">
        <span><label class="alchimie-title">Manipulation : </label></span>
        <div class="form-group medium-editor">
          {{editor content=data.manipulation_update target="data.manipulation" button=true owner=owner editable=editable}}
        </div>
      </div>
      <div class="flexcol">
        <span><label class="alchimie-title">Utilisation : </label></span>
        <div class="form-group small-editor">
          {{editor content=data.utilisation target="data.utilisation" button=true owner=owner editable=editable}}
        </div>
      </div>
      <div class="flexcol">
        <span><label class="alchimie-title">Enchantement : </label></span>
        <div class="form-group small-editor">
          {{editor content=data.enchantement target="data.enchantement" button=true owner=owner editable=editable}}
        </div>
      </div>
      <div class="flexcol">
        <span><label class="alchimie-title">Sur-effet : </label></span>
        <div class="form-group small-editor">
          {{editor content=data.sureffet target="data.sureffet" button=true owner=owner editable=editable}}
        </div>
      </div>
      <div class="flexcol">
        <span><label class="alchimie-title">Notes additionnelles : </label></span>
        <div class="form-group editor">
          {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
      </div>
    </section>

</form>
