<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name"/></h1>
        </div>
    </header>
    
    {{!-- Sheet Body --}}
    <section class="sheet-body">
      <div class="form-group">
        <label for="data.competence">Compétence associée</label>
        <select name="data.competence" id="competence" data-dtype="String">
          {{#select data.competence}}
          {{>"systems/foundryvtt-reve-de-dragon/templates/enum-competence.html"}}
          {{/select}}
        </select>
      </div>
      <div class="form-group">
        <label for="data.dommages">Dommages </label>
        <input class="attribute-value" type="text" name="data.dommages" value="{{data.dommages}}" data-dtype="String"/>
      </div>
      <div class="form-group">
        <label for="data.resistance">Résistance </label>
        <input class="attribute-value" type="text" name="data.resistance" value="{{data.resistance}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label for="data.categorie_parade">Catégorie parade </label>
        <select name="data.categorie_parade" id="categorie_parade" data-dtype="String">
          {{#select data.categorie_parade}}
          {{>"systems/foundryvtt-reve-de-dragon/templates/enum-categorie-parade.html"}}
          {{/select}}
        </select>
      </div>
      <div class="form-group">
        <label for="data.encombrement">Encombrement </label>
        <input class="attribute-value" type="text" name="data.encombrement" value="{{data.encombrement}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label for="data.force">Force min. </label>
        <input class="attribute-value" type="text" name="data.force" value="{{data.force}}" data-dtype="String"/>
      </div>
      <div class="form-group">
        <label for="data.rapide">Arme rapide ? </label>
        <input class="attribute-value" type="checkbox" name="data.rapide"  {{#if data.rapide}}checked{{/if}}/>
      </div>
      <div class="form-group">
        <label for="data.unemain">A Une main ? </label>
        <input class="attribute-value" type="checkbox" name="data.unemain"  {{#if data.unemain}}checked{{/if}}/>
      </div>
      <div class="form-group">
        <label for="data.deuxmains">A Deux mains ? </label>
        <input class="attribute-value" type="checkbox" name="data.deuxmains"  {{#if data.deuxmains}}checked{{/if}}/>
      </div>
      <div class="form-group">
        <label for="data.portee_courte">Portée courte </label>
        <input class="attribute-value" type="text" name="data.portee_courte" value="{{data.portee_courte}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label for="data.portee_moyenne">Portée moyenne </label>
        <input class="attribute-value" type="text" name="data.portee_moyenne" value="{{data.portee_moyenne}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label for="data.portee_extreme">Portée extrême </label>
        <input class="attribute-value" type="text" name="data.portee_extreme" value="{{data.portee_extreme}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label for="data.penetration">Pénétration </label>
        <input class="attribute-value" type="text" name="data.penetration" value="{{data.penetration}}" data-dtype="Number"/>
      </div>
      <div class="form-group item-cout">
        <label for="data.cout">Prix (sols) </label>
        <input class="attribute-value" type="text" name="data.cout" value="{{data.cout}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label for="data.magique">Magique ? </label>
        <input class="attribute-value" type="checkbox" name="data.magique"  {{#if data.magique}}checked{{/if}}/>
      </div>
      <div class="form-group item-magique">
        <label for="data.resistance_magique">Résistance magique </label>
        <input class="attribute-value" type="text" name="data.resistance_magique" value="{{data.resistance_magique}}" data-dtype="Number"/>
      </div>
      <div class="form-group item-magique">
        <label for="data.ecaille_efficacite">Nombre d'Ecailles d'Efficacité </label>
        <input class="attribute-value" type="text" name="data.ecaille_efficacite" value="{{data.ecaille_efficacite}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label for="data.initpremierround">Classe d'initiative au premier round (mêlée seulement) </label>
        <select name="data.initpremierround" id="initpremierround" data-dtype="String">
          {{#select data.initpremierround}}
          {{>"systems/foundryvtt-reve-de-dragon/templates/enum-initpremierround.html"}}
          {{/select}}
        </select>
      </div>      
      <div class="flexcol">
        <span><label>Description : </label></span>
        <div class="form-group editor">
          {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
      </div>
    </section>
    
</form>
