<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name"/></h1>
        </div>
    </header>
    
    {{!-- Sheet Body --}}
    <section class="sheet-body">
      <div class="form-group">
        <label class="alchimie-title" for="xp">Type</label>
        <select name="data.type" data-dtype="String">
          {{#select data.type}}
          <option value="adressehasard">Adresse/Hasard</option>
          <option value="de">Dés</option>
          <option value="carte">Cartes</option>
          <option value="reflexion">Reflexion</option>
          {{/select}}    
        </select>
      </div>
      <div class="form-group">
        <label class="alchimie-title" for="xp">Base</label>
        <input class="attribute-value" type="text" name="data.base" value="{{data.base}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label class="alchimie-title" for="xp">Caractéristique/Compétence</label>
        <input class="attribute-value" type="text" name="data.caraccomp" value="{{data.caraccomp}}" data-dtype="String"/>
      </div>
      <div class="form-group">
        <label>Référence / Auteur</label>
        <input class="attribute-value" type="text" name="data.reference" value="{{data.reference}}" data-dtype="String"/>
      </div>
      <div class="flexcol">
        <span><label class="alchimie-title">Description : </label></span>
        <div class="form-group editor">
          {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
      </div>
    </section>
    
</form>
