<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
      <div class="form-group">
        <label for="xp">Nombre</label>
        <input class="attribute-value" type="text" name="data.value" value="{{data.value}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label for="xp">Nombre valide ? </label>
        <input class="attribute-value" type="checkbox" name="data.istrue"  {{#if data.istrue}}checked{{/if}}/>
      </div>
      <div class="form-group">
        <label for="xp">Index du jour concerné</label>
        <input class="attribute-value" type="text" name="data.jourindex" value="{{data.jourindex}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label for="xp">Label du jour</label>
        <input class="attribute-value" type="text" name="data.jourlabel" value="{{data.jourlabel}}" data-dtype="String"/>
      </div>

    </section>
    
</form>
