<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name"/></h1>
        </div>
    </header>
    
    {{!-- Sheet Body --}}
    <section class="sheet-body">
      <div class="form-group">
        <label>Draconic </label>
        <select name="data.draconic" id="draconic" data-dtype="String">
          {{#select data.draconic}}
          {{>"systems/foundryvtt-reve-de-dragon/templates/sort-draconic.html"}}
          {{/select}}
        </select>
      </div>      
      <div class="form-group">
        <label for="xp">Case TMR </label>
        <select name="data.caseTMR" id="caseTMR" data-dtype="String">
          {{#select data.caseTMR}}
          {{>"systems/foundryvtt-reve-de-dragon/templates/sort-tmr.html"}}
          <option value="special">Case spéciale TMR (saisie ci-dessous)</option>
          {{/select}}
        </select>
      </div>
      <div class="form-group">
        <label for="xp">Case TMR Spéciale </label>
        <input class="attribute-value" type="text" name="data.caseTMRspeciale" value="{{data.caseTMRspeciale}}" data-dtype="String"/>
      </div>
      <div class="form-group">
        <label for="xp">Difficulté </label>
        <input class="attribute-value" type="text" name="data.difficulte" value="{{data.difficulte}}" data-dtype="String"/>
      </div>
      <div class="form-group">
        <label for="xp">Coût en Rêve </label>
        <input class="attribute-value" type="text" name="data.ptreve" value="{{data.ptreve}}" data-dtype="String"/>
      </div>
      <div class="form-group">
        <label for="xp">Coût en Seuil </label>
        <input class="attribute-value" type="text" name="data.coutseuil" value="{{data.coutseuil}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label for="rituel">Rituel </label>
        <input class="attribute-value" type="checkbox" name="data.isrituel"  {{#if data.isrituel}}checked{{/if}}/>
      </div>
      <div class="form-group">
        <label for="xp">Durée </label>
        <input class="attribute-value" type="text" name="data.duree" value="{{data.duree}}" data-dtype="String"/>
      </div>
      <div class="form-group">
        <label for="xp">Portée </label>
        <input class="attribute-value" type="text" name="data.portee" value="{{data.portee}}" data-dtype="String"/>
      </div>
      <div class="form-group">
        <label for="xp">Cible </label>
        <input class="attribute-value" type="text" name="data.cible" value="{{data.cible}}" data-dtype="String"/>
      </div>
      <div class="form-group">
        <label for="xp">Jet de Resistance</label>
        <input class="attribute-value" type="text" name="data.JR" value="{{data.JR}}" data-dtype="String"/>
      </div>
      <div class="form-group">
        <label for="xp">XP </label>
        <input class="attribute-value" type="text" name="data.xp" value="{{data.xp}}" data-dtype="Number"/>
      </div>
      {{#if owner}}
      {{#each bonusCaseList as |bcData key|}}
      <div class="form-group">
        <label for="bonuscase">Case/Bonus :</label>
        <input class="attribute-value"  type="text" name="caseValue" value="{{bcData.case}}" data-dtype="String"/>
        <input class="attribute-value" type="text" name="bonusValue" value="{{bcData.bonus}}" data-dtype="Number"/>
      </div>
      {{/each}}
      {{/if}}
      <div class="flexcol">
        <span><label>Description : </label></span>
        <div class="form-group editor">
          {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
      </div>
    </section>
    
</form>
