<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name"/></h1>
        </div>
    </header>
    
    {{!-- Sheet Body --}}
    <section class="sheet-body">
      <div class="form-group">
        <label>Niveau</label>
        <input class="attribute-value" type="text" name="data.niveau" value="{{data.niveau}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label>Durée</label>
        <input class="attribute-value" type="text" name="data.duree" value="{{data.duree}}" data-dtype="String"/>
      </div>
      <div class="form-group">
        <label>Sust</label>
        <input class="attribute-value" type="text" name="data.sust" value="{{data.sust}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label>Exotisme</label>
        <input class="attribute-value" type="text" name="data.exotisme" value="{{data.exotisme}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label>Référence / Auteur</label>
        <input class="attribute-value" type="text" name="data.reference" value="{{data.reference}}" data-dtype="String"/>
      </div>
      <div class="flexcol">
        <span><label>Ingrédients : </label></span>
        <div class="form-group editor">
          {{editor content=data.ingredients target="data.ingredients" button=true owner=owner editable=editable}}
        </div>
      </div>
      <div class="flexcol">
        <span><label>Description : </label></span>
        <div class="form-group editor">
          {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
      </div>
    </section>
    
</form>
