<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name" /></h1>
      {{#if isOwned}}
      <div class="form-group">
        <span for="xp"><a class="consommer-potion chat-card-button" data-actor-id="{{actorId}}">Consommer cette potion et appliquer ses effets</a></span>
      </div>
      {{/if}}  
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="form-group">
      <label>Encombrement</label>
      <input class="attribute-value" type="text" name="data.encombrement" value="{{data.encombrement}}" data-dtype="Number" />
    </div>
    <div class="form-group">
      <label>Quantité </label>
      <input class="attribute-value" type="text" name="data.quantite" value="{{data.quantite}}" data-dtype="Number" />
    </div>
    <div class="form-group item-cout">
      <label>Prix (sols)</label>
      <input class="attribute-value" type="text" name="data.cout" value="{{data.cout}}" data-dtype="Number" />
    </div>
    <div class="form-group">
      <label>Fréquence</label>
      <select name="data.rarete" class="rarete" data-dtype="String">
        {{#select data.rarete}}
        {{>"systems/foundryvtt-reve-de-dragon/templates/enum-rarete.html"}}
        {{/select}}
      </select>
    </div>
    <div class="form-group">
      <label>Catégorie</label>
      <select name="data.categorie" class="categoriepotion" data-dtype="String">
        {{#select data.categorie}}
        {{>"systems/foundryvtt-reve-de-dragon/templates/enum-categorie-potion.html"}}
        {{/select}}
      </select>
    </div>
    {{#if isHerbe}}
    <div class="form-group">
      <label>Herbe</label>
      <select name="data.herbe" class="herbe" data-dtype="String">
        {{selectOptions herbesSoins selected=data.herbe localize=false}}
      </select>
    </div>
    <div class="form-group">
      <label>Nombre de brins</label>
      <input class="attribute-value" type="text" name="data.herbebrins" value="{{data.herbebrins}}" data-dtype="Number" />
    </div>
    <div class="form-group">
      <label>Bonus</label>
      <input class="attribute-value" type="text" name="data.herbebonus" value="{{data.herbebonus}}" data-dtype="Number" />
    </div>
    {{/if}}
    {{#if isRepos}}
    <div class="form-group">
      <label>Herbe</label>
      <select name="data.herbe" class="herbe" data-dtype="String">
        {{selectOptions herbesRepos selected=data.herbe localize=false}}
      </select>
    </div>
    <div class="form-group">
      <label>Nombre de brins</label>
      <input class="attribute-value" type="text" name="data.herbebrins" value="{{data.herbebrins}}" data-dtype="Number" />
    </div>
    <div class="form-group">
      <label>Bonus</label>
      <input class="attribute-value" type="text" name="data.herbebonus" value="{{data.herbebonus}}" data-dtype="Number" />
    </div>
    <div class="form-group">
      <label>Repos Alchimique ?</label>
      <input class="attribute-value" type="checkbox" name="data.reposalchimique"  {{#if data.reposalchimique}}checked{{/if}}/>
    </div>
    {{/if}}
    {{#if data.magique}}
    <div class="form-group">
      <label>Points de rêve</label>
      <input class="attribute-value" type="text" name="data.pr" value="{{data.pr}}" data-dtype="Number" />
    </div>
    <div class="form-group">
      <label for="xp">Permanente ? </label>
      <input class="attribute-value" type="checkbox" name="data.prpermanent"  {{#if data.prpermanent}}checked{{/if}}/>
    </div>
    {{#if isHerbe}}
    <div class="form-group">
      <label for="xp">Points de guérison </label>
      <label for="xp">{{pointsGuerison}}</label>
    </div>
    {{/if}}
    <div class="form-group">
      <label>Date de l'Enchantement : Jour/Mois (date actuelle : {{dateActuelle}})</label>
    </div>
    <div class="form-group">
      <select name="splitDate.day" class="enchanteDate" id="jourMois" data-dtype="String">
        {{#select splitDate.day}}
        {{#each jourMoisOptions as |key|}}
        <option value="{{key}}">{{numberFormat key decimals=0}}</option>
        {{/each}}
        {{/select}}
      </select>
      <select name="splitDate.month" class="enchanteDate" id="nomMois" data-dtype="String">
        {{#select splitDate.month}}
        {{>"systems/foundryvtt-reve-de-dragon/templates/heures-select-option.html"}}
        {{/select}}
      </select>
    </div>
    {{/if}}
    <div class="flexcol">
      <span><label>Description :</label></span>
      <div class="form-group editor">
        {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
      </div>
    </div>
  </section>

</form>