<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name"/></h1>
        </div>
    </header>
    
    {{!-- Sheet Body --}}
    <section class="sheet-body">
      <div class="form-group">
        <label for="xp">Protection</label>
        <input class="attribute-value" type="text" name="data.protection" value="{{data.protection}}" data-dtype="String"/>
      </div>
      <div class="form-group">
        <label for="xp">Encombrement </label>
        <input class="attribute-value" type="text" name="data.encombrement" value="{{data.encombrement}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label for="xp">Détérioration</label>
        <input class="attribute-value" type="text" name="data.deterioration" value="{{data.deterioration}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label for="xp">Malus Armure </label>
        <input class="attribute-value" type="text" name="data.malus" value="{{data.malus}}" data-dtype="Number"/>
      </div>
      <div class="form-group item-cout">
        <label for="xp">Prix (sols) </label>
        <input class="attribute-value" type="text" name="data.cout" value="{{data.cout}}" data-dtype="Number"/>
      </div>
      <div class="flexcol">
        <span><label>Description : </label></span>
        <div class="form-group editor">
          {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
      </div>
    </section>
    
</form>
