<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name" /></h1>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="form-group">
      <label>Sustentation</label>
      <input class="attribute-value" type="text" name="data.sust" value="{{data.sust}}" data-dtype="Number" />
    </div>
    <div class="form-group">
      <label>Boisson</label>
      <input class="attribute-value" type="checkbox" name="data.boisson" {{#if data.boisson}}checked{{/if}} />
    </div>
    {{#if data.boisson}}
      <div class="form-group">
        <label>Désaltère de</label>
        <input class="attribute-value" type="text" name="data.desaltere" value="{{data.desaltere}}" data-dtype="Number" />
      </div>
      <div class="form-group">
        <label>Alcoolisée</label>
        <input class="attribute-value" type="checkbox" name="data.alcoolise" {{#if data.alcoolise}}checked{{/if}} />
      </div>
      {{#if data.alcoolise}}
      <div class="form-group">
        <label>Force de l'alcool par dose</label>
        <input class="attribute-value" type="text" name="data.force" value="{{data.force}}" data-dtype="Number" />
      </div>
      {{/if}}
    {{/if}}
    <div class="form-group">
        <label>Qualité</label>
        <input class="attribute-value" type="text" name="data.qualite" value="{{data.qualite}}" data-dtype="Number" />
    </div>
    <div class="form-group">
      <label>Exotisme</label>
      <input class="attribute-value" type="text" name="data.exotisme" value="{{data.exotisme}}" data-dtype="Number" />
    </div>
    <div class="form-group">
      <label>Encombrement </label>
      <input class="attribute-value" type="text" name="data.encombrement" value="{{data.encombrement}}"
        data-dtype="Number" />
    </div>
    <div class="form-group">
      <label>Quantité </label>
      <input class="attribute-value" type="text" name="data.quantite" value="{{data.quantite}}" data-dtype="Number" />
    </div>
    <div class="form-group item-cout">
      <label>Prix (sols) </label>
      <input class="attribute-value" type="text" name="data.cout" value="{{data.cout}}" data-dtype="Number" />
    </div>
    <div class="flexcol">
      <span><label>Description : </label></span>
      <div class="form-group editor">
        {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
      </div>
    </div>
  </section>

</form>