<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name" /></h1>
      <a class="signe-aleatoire chat-card-button">Signe aléatoire</a>
    </div>
  </header>
  
  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="form-group">
      <label for="data.difficulte">Difficulte</label>
      <input class="attribute-value" type="number" name="data.difficulte" value="{{data.difficulte}}"
        data-dtype="Number" />
    </div>
    <div class="form-group">
      <label for="data.valeur.norm">Expérience en sorts</label>
      <div class="flexrow">
        <input class="signe-xp-sort" type="number" name="data.valeur.norm" data-typereussite="norm"
          value="{{data.valeur.norm}}" min="1" max="100" data-dtype="Number" />
        <span>Sign.</span>
        <input class="signe-xp-sort" type="number" name="data.valeur.sign" data-typereussite="sign"
          value="{{data.valeur.sign}}" min="1" max="100" data-dtype="Number" />
        <span>Part.</span>
        <input class="signe-xp-sort" type="number" name="data.valeur.part" data-typereussite="part"
          value="{{data.valeur.part}}" min="1" max="100" data-dtype="Number" />
      </div>
    </div>
    <div class="form-group">
      <label for="data.ephemere">Ephémère</label>
      <input class="attribute-value" type="checkbox" name="data.ephemere" {{#if data.ephemere}}checked{{/if}} />
    </div>
    {{#if data.ephemere}}
    <div class="form-group">
      <label for="data.duree">Durée</label>
      <input class="attribute-value" type="text" name="data.duree" value="{{data.duree}}" data-dtype="String" />
    </div>
    {{/if}}
    <div class="form-group">
      <label for="tmrs">Terres médianes</label>
      <select class="select-tmr attribute-value" name="tmrs" id="tmrs" size={{tmrs.length}} multiple />
      {{#each tmrs as |tmr key|}}
      <option class="option-tmr" value="{{tmr.name}}" {{#if tmr.selected}}selected{{/if}}>{{tmr.name}}</option>
      {{/each}}
      </select>
    </div>
    <div class="flexcol">
      <span><label>Description : </label></span>
      <div class="form-group editor">
        {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
      </div>
    </div>
  </section>

</form>