<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name"/></h1>
        </div>
    </header>
    
    {{!-- Sheet Body --}}
    <section class="sheet-body">
      <div class="form-group">
        <label for="xp">Quantité</label>
        <input class="attribute-value" type="text" name="data.quantite" value="{{data.quantite}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label for="xp">Valeur en Deniers</label>
        {{#if isGM}}
        <input class="attribute-value" type="text" name="data.valeur_deniers" value="{{data.valeur_deniers}}" data-dtype="Number"/>
        {{else}}
        <label for="xp">{{data.valeur_deniers}}</label>
        {{/if}}
      </div>
      <div class="form-group">
        <label for="xp">Encombrement</label>
        <input class="attribute-value" type="text" name="data.encombrement" value="{{data.encombrement}}" data-dtype="Number"/>
      </div>
      <span><label>Description : </label></span>
      <div class="form-group editor" style="min-height: 400px !important;">
        {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
      </div>
    </section>
    
</form>
