<div class="table-ajustement">
  <span class="tooltip tooltip-dotted">
    <span>Ajustement Final:</span>
    <span id="roll-param">{{selectedCarac.value}} / {{numberFormat finalLevel decimals=0 sign=true}}</span>
    <div class="tooltiptext ttt-ajustements">
      {{#each ajustements as |item key|}}
      {{#if item.used}}
      <div class="{{#if item.strong}}strong-text{{/if}}">
        {{#if item.descr}}
        {{{item.descr}}}
        {{else}}
        {{item.label}}: {{numberFormat item.value decimals=0 sign=true}}
        {{/if}}
      </div>
      {{/if}}
      {{/each}}
    </div>
  </span>
  {{#if ajustements.facteurSign.used}}
  <span>
    Significative requise <span class="rdd-diviseur">&times;{{{ajustements.facteurSign.label}}}</span>!
  </span>
  {{/if}}

</div>