<div class="flexrow">
  <label class="diffMoral">Moral: {{#if (gt moral 0)}}+{{/if}}{{moral}}</label>
  <div class="tooltipAppelAuMoral divAppelAuMoral">
    <a class="appel-moral">
      <img class="icon-appel-moral small-button-container" src="/systems/foundryvtt-reve-de-dragon/icons/moral-neutre.svg">
    </a>
    <span class="tooltipAppelAuMoralText">Sans appel au moral</span>
  </div>
</div>
