{{#if surencMalusFlag}}
<div class="flexrow">
  <label>
    <input class="attribute-value checkbox-by-name" type="checkbox" name="useMalusSurenc"  {{#if useMalusSurenc}}checked{{/if}}/>
    Appliquer le sur-encombrement
  </label>
</div>
{{/if}}
