{{#if ajustements.encTotal.visible}}
<div class="flexrow">
  <label>
    <input class="attribute-value checkbox-by-name" type="checkbox" name="useMalusEncTotal"  {{#if useMalusEncTotal}}checked{{/if}}/>
    Appliquer l'encombrement comme malus ({{encTotal}}) ? 
  </label>
</div>
{{/if}}
