<div class="post-item" data-transfer="{{transfer}}">
  <h3><b>{{name}}</b></h3>
  {{#if img}}
  <img src="{{img}}" title="{{name}}" />
  {{/if}}
  
  <p class="card-content">{{{data.description}}}</p>
  <p>
    {{#each properties as |property p|}}
    <span>{{{property}}}</span><br>
    {{/each}}
    {{#if (or postQuantity postPrice)}}
    <span>
      {{#if postQuantity}}
      <b>Quantité: </b> <span class="postQuantity">{{postQuantity}}</span>
      {{/if}}
      {{#if postPrice}}
      <b>Prix: </b> <span class="postPrice">{{postPrice}} Sols</span>
      {{/if}}
    </span><br>
    {{/if}}
    <span>
      <b>Prix Total: </b> <span class="postPrice">{{finalPrice}} Sols</span><br>
    </span>
  </p>

  {{#if hasPrice}}
  <span class="chat-card-button-area">
      <a class='payer-button chat-card-button market-button'
        data-jsondata='{{jsondata}}'
        {{#if actor.id}}data-actor-id='{{actor.id}}'{{/if}}
        data-somme-denier="{{data.cout_deniers_total}}" data-quantite="{{data.quantite}}">Payer</a>
  </span>
  {{/if}}

</div>
